In [2]:
import csv

In [11]:
with open('mpg.csv') as csvfile:
  mpg = list(csv.DictReader(csvfile))

In [12]:
mpg[:3]

[OrderedDict([('', '1'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'auto(l5)'),
              ('drv', 'f'),
              ('cty', '18'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '2'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'manual(m5)'),
              ('drv', 'f'),
              ('cty', '21'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '3'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '2'),
              ('year', '2008'),
              ('cyl', '4'),
              ('trans', 'manual(m6)'),
              ('drv', 'f'),
              ('cty', '20'),
              ('hwy', '31'),
              ('fl', 'p'),
              ('class', 'compact')])]

In [13]:
len(mpg)

234

In [14]:
mpg[0].keys()

odict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

In [15]:
sum(float(d['cty']) for d in mpg) / len(mpg)

16.858974358974358

In [16]:
sum(float(d['hwy']) for d in mpg) / len(mpg)

23.44017094017094

In [24]:
cylinders = set(d['cyl'] for d in mpg)
cylinders

{'4', '5', '6', '8'}

In [31]:
CtyMpgByCyl = []
for c in cylinders:
  summpg  = 0
  cyltypecount = 0
  for d in mpg:
    if d['cyl'] == c:
      summpg += float(d['cty'])
      cyltypecount += 1
  CtyMpgByCyl.append((c, summpg/cyltypecount))

CtyMpgByCyl.sort(key=lambda x:x[0])
CtyMpgByCyl

[('4', 21.012345679012345),
 ('5', 20.5),
 ('6', 16.21518987341772),
 ('8', 12.571428571428571)]

In [32]:
vehicleclass = set(d['class'] for d in mpg)
vehicleclass

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

In [41]:
HwyMpgByclass = []
for t in vehicleclass:
  summpg  = 0
  vclasscount = 0
  for d in mpg:
    if d['class'] == t:
      summpg += float(d['hwy'])
      vclasscount += 1
  HwyMpgByclass.append((t, summpg/vclasscount))

HwyMpgByclass.sort(key=lambda x:x[1])
HwyMpgByclass

[('pickup', 16.87878787878788),
 ('suv', 18.129032258064516),
 ('minivan', 22.363636363636363),
 ('2seater', 24.8),
 ('midsize', 27.29268292682927),
 ('subcompact', 28.142857142857142),
 ('compact', 28.29787234042553)]